@{
    ViewData["Title"] = "Home Page";
}
@model Url

@{
    var urlBase = "https://localhost:7219";
}

<div class="divContainer">
    <form class="form" method="post" asp-action="ShortenUrl">
        <div class="formGroup">
            <label for="longInputUrl">Long URL</label>
            <input type="url" id="longInputUrl" name="longUrl" placeholder="Enter URL" />
        </div>
        <div class="formGroup">
            <label>Short Link</label>
            <input type="url" id="shortLink" name="shortLink" disabled
                value="@(Model != null ? $"{urlBase}/r/{Model.Short}" : "")"/>
        </div>
        <button type="submit">Shorten</button>
    </form>
</div>
