:root {
    --background: #E63B2E;
    --light-background: #F85A3E;
    --action: #FF7733;
    --white: white;
    --black: #000000ff;
}

body {
    margin: 0px;
    background-color: var(--white);
    color: var(--charcoal);
    font-family: "Quicksand", sans-serif;
}

.navBar {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, var(--light-background), var(--background));
    color: var(--white);
    width: 100%;
    height: 9vh;
    font-size: 50px;
}

.navBar div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 15px
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
    background-color: var(--background)
}

.divContainer {
    margin-top: -80px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    width: 35%;
    height: 65%;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 0px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 35%;
}

.formGroup label {
    font-size: 30px;
    font-weight: bold;
    font
}

.formGroup input {
    width: 85%;
    height: 30px;
    font-size: 25px;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form > * {

}

.form button {
    font-size: 25px;
    border: none;
    background-color: var(--action);
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    color: var(--white);
}

.form button:hover {
    background-color: var(--black);
    color: var(--white);
    transition: 0.1s ease-in-out;
    cursor: pointer;
}